{
  "servers": [
  {% for server in servers %}
    "{{server}}"{{ "," if not loop.last else ""}}
  {% endfor %}
  ],
  "file": "{{file}}",
  "timeout": "{{timeout}}",
  "pixels": "{{pixels}}",
  "colors": {
    "alive": {
      "r": 10,
      "g": 1,
      "b": 1
    },
    "dead": {
      "r": 10,
      "g": 0,
      "b": 0
    },
    "updating": {
      "r": 0,
      "g": 0,
      "b": 10
    }
  }
}