{
  "servers": [
  {% for server in neopixel_healthchecker_hosts %}
    "{{server}}"{{ "," if not loop.last else ""}}
  {% endfor %}
  ],
  "file": "{{neopixel_healthchecker_status_file}}",
  "timeout": "{{neopixel_healthchecker_ping_timeout}}",
  "pixels": "{{neopixel_healthchecker_pixel_count}}",
  "colors": {
    "alive": {
      "r": {{neopixel_healthchecker_colors.alive.r}},
      "g": {{neopixel_healthchecker_colors.alive.g}},
      "b": {{neopixel_healthchecker_colors.alive.b}}
    },
    "dead": {
      "r": {{neopixel_healthchecker_colors.dead.r}},
      "g": {{neopixel_healthchecker_colors.dead.g}},
      "b": {{neopixel_healthchecker_colors.dead.b}}
    },
    "updating": {
      "r": {{neopixel_healthchecker_colors.updating.r}},
      "g": {{neopixel_healthchecker_colors.updating.g}},
      "b": {{neopixel_healthchecker_colors.updating.b}}
    }
  }
}
