local-port=54
launch=bind
master=yes
security-poll-suffix=
include-dir=
# disabled for now
# bind-dnssec-db=/etc/powerdns/bind/dnssec.db
bind-config=/etc/powerdns/bind/named.conf
bind-check-interval=600
