$TTL {{ item.ttl }}
{{ item.forward_zone }} IN SOA {{ item.primary_nameserver }}.{{item.forward_zone}} root.{{ item.forward_zone }} (
  {{ item.serial }} ;serial
  {{ item.refresh }} ; refresh
  {{ item.retry }} ; retry
  {{ item.expire }} ; expires
  {{ item.minimum }} ; minimum
)
{{ item.forward_zone }} NS {{ item.primary_nameserver }}.{{ item.forward_zone }}
{% for secondary_server in item.secondary_nameservers %}
{{ item.forward_zone }} NS {{ secondary_server }}.{{item.forward_zone }}
{% endfor %}

{% for host in item.records %}
{{ host.name }}.{{ item.forward_zone }} A {{item.subnet}}.{{host.host}}
{% endfor %}
