local-port={{ '54' if 'dns_recursor' in group_names else '53' }}
launch=bind
master={{ 'yes' if hostvars[inventory_hostname]['dns_authority_type'] == 'master' else 'no' }}
security-poll-suffix=
include-dir=
# disabled for now
# bind-dnssec-db=/etc/powerdns/bind/dnssec.db
bind-config=/etc/powerdns/bind/named.conf
bind-check-interval=600
